.content {
  .question {
    display: flex;
    justify-content: center;
    margin-top: 75px;
    img {
      width: 70px;
      height: auto;
    }
    .text {
      margin-top: 20px;
      font-size: 26px;
      font-weight: bold;
    }
  }
  .answer {
    display: flex;
    margin: 25px;
    justify-content: center;

    .col-2 {
      width: 50px;
      height: 55px;
      margin: 10px;
      // height: -webkit-fill-available;
      line-height: 48px;
      border: 2px solid black;

      input[type="radio"] {
        display: none;

        &:checked + label {
          width: 48px;
          height: 55px;
          border: 2px solid black;
          background: #a68147;
        }
        &:hover + label {
          // background-color: black;
          cursor: pointer;
        }
      }
    }
  }
  .question-status {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
    .progress-bar {
      text-align: center;
      appearance: none;
      &::-webkit-progress-bar {
        //바의 외관
        background: #ffffff;
        height: 28px;
        width: 280px;
        // border: 2px solid black;
        // overflow: hidden;
      }
      &::-webkit-progress-value {
        //바 게이지
        // background: #5a3f87;
        background: #f2d9b1;
        height: 28px;
        width: 48px;
      }
    }
    .question-count {
      margin-top: 7px;
      font-size: 19px;
      // color: #5a3f87;
      // color: #f2cb05;
    }
  }
}
