.content {
  .question {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    img {
      width: 70px;
      height: auto;
    }
    .text {
      margin-top: 20px;
      font-size: 26px;
    }
  }
  .answer {
    margin: 25px;
    input[type="radio"] {
      appearance: none;
      border: 2px solid black;
      width: 40px;
      height: 25px;
      &:checked {
        background-color: #5a3f87;
      }
      &:hover {
        box-shadow: 0 0 0 max(4px, 0.2em) rgb(219, 168, 255);
        cursor: pointer;
      }
    }
  }
  .question-status {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    .progress-bar {
      text-align: center;
      appearance: none;
      &::-webkit-progress-bar {
        //바의 외관
        background: #ffffff;
        height: 28px;
        width: 280px;
        // border: 2px solid black;
        // overflow: hidden;
      }
      &::-webkit-progress-value {
        //바 게이지
        background: #5a3f87;
        height: 28px;
        width: 48px;
      }
    }
    .question-count {
      margin-top: 7px;
      font-size: 19px;
      color: #5a3f87;
    }
  }
}
